.search-bar{
  margin: 20px;
  text-align: center;
}

.search-bar input{
    width: 50%;
}

.list-group-item {
  margin-left: 10px;
  cursor: pointer;
  padding: 10px;
}
.list-group-item:hover{
  background-color: #eee;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
