.App {
  text-align: center;
}
.searchBar{
  margin: 10px;
  width: 50%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
